.body{
    background-color:antiquewhite;
    
}
span{

}
.container{
    background-color:aqua;

}
.space{
    height: 5vh;
}


.bg{

    border: 1px solid black;
    text-align: center;
    display: grid;
    justify-content: space-around;
    background-color:aqua;

    
}
.gap{
    gap: 80px;
}
.col2{
    padding: 50px;
}

.st{
    display: grid;
    justify-content: start;
}
 #nn{
    height: 100px;
    width: 200px;
    padding: 14px;
    display: grid;
    gap:10px;
} 
.fon{
    font-family:Inter ;
    font-weight:700;
    font-size:14px ;
}
#align1{
    display: flex;
    align-self: flex-start;
    justify-content: space-around;
}
.align1{
    display: flex;
    align-self: flex-end;
}
.col-md-6{
    display: flex;
    justify-content: space-around;
}
